{% extends 'base.html' %}
{% block title %} 
    Login
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='user-access.css') }}">
{% endblock head %}

{% block content %}
<div class="container login-container">
        <div class="title">
            <h1>Welcome</h1>
            <img class="logo" src="{{ url_for('static', filename='logo-svg-black.svg') }}" alt="#">
        </div>

        <div class="user-signup", id="width_full">
            <form method = "POST" action="#", id="width_full">
                {{ form.hidden_tag() }}
                <div>
                {{ form.email(placeholder='Email') }}
                {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <small class="text-red">{{ error }}</small>
                        {% endfor %}
                {% endif %}
            </div>

            
            <div>
                {{ form.password(placeholder='Password') }}
                {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <small class="text-red">{{ error }}</small>
                        {% endfor %}
                {% endif %}
            </div>

                {{form.submit(id='reduce_margin_bottom')}}
            
        </form>
    </div>
    
    <div class="login-link">
        Already have an account? <a href="{{url_for('login')}}">Log In</a>
    </div>
</div>

{% endblock content %}