{% extends 'base.html' %}

{% block title %} Music
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='form-page.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock head %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>

window.addEventListener("load", (event) => {
  everything_off();
});


function everything_off() {
    let elements = document.getElementsByClassName('instruments-btn')
    for (var i = 0, len=elements.length; i < len; i++){
        elements[i].classList.add("highlight_off")
    }
    let submit_btn = document.getElementById('submit_btn')
    submit_btn.classList.add('highlight_off')
    
}
function button_highlight(button_id) {
    everything_off()
   let element = document.getElementById(button_id);
   element.classList.remove("highlight_off");
   element.classList.add("highlight_on");
    let submit_btn = document.getElementById('submit_btn')
   submit_btn.classList.remove("highlight_off");

    submit_btn.classList.add('highlight_on')
}
</script>
<script>

$(document).ready(function(){
   function pass_data(button_id) {

       $.getJSON('/button_clicked/' + button_id, 
        function(data) {
            //nothing
        });
   }
        $(function() {
          $('#guitar').on('click', function(e) {
            e.preventDefault()
            pass_data("guitar")
            return false;
          });
        });
        $(function() {
          $('#piano').on('click', function(e) {
            e.preventDefault()
            pass_data("piano")
            return false;
          });
        });
        $(function() {
          $('#trumpet').on('click', function(e) {
            e.preventDefault()
            pass_data("trumpet")
            return false;
          });
        });
        $(function() {
          $('#drums').on('click', function(e) {
            e.preventDefault()
            pass_data("drums")
            return false;
          });
        });
        $(function() {
          $('#flute').on('click', function(e) {
            e.preventDefault()
            pass_data("flute")
            return false;
          });
        })
    });
</script>


<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo-svg-yellow.svg') }}" alt="#">
            </div>
            <div class="hero-text">
                <a href="{{url_for('home')}}"><h3>HarmoniSync</h3></a>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="title">
                <h3>Customize Your Music Sheet</h3>
                <p>Upload your music sheet and choose an instrument to create your perfect arrangement!</p>
            </div>
        
        
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div>
                {% if form.music_file.errors %}
                    {% for error in form.music_file.errors %}
                        <small class="text-red">{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
                <button class="button browse-button">
                <h3>Browse  {{ form.music_file(id="file_input") }} </h3>
            </button>
            {{form._value}}
            <h4 class="new">Choose your instruments:</h4>
                    <div class="instruments-section">
                        <!-- Guitar -->
                        <button class="button instruments-btn" id="guitar" onclick="button_highlight('guitar')">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/guitar.png" alt="guitar"/>
                        </button>

                        <!-- Trumpet -->
                        <button class="button instruments-btn" id="trumpet" onclick="button_highlight('trumpet')">
                            <img width="48" height="48" src="https://img.icons8.com/parakeet-line/48/trumpet.png" alt="trumpet"/>
                        </button>
                        
                        <!-- Piano -->
                        <button class="button instruments-btn" id="piano" onclick="button_highlight('piano')">
                            <img width="48" height="48" src="https://img.icons8.com/pulsar-line/48/piano.png" alt="piano"/>
                        </button>

                        <!-- Drumset -->
                        <button class="button instruments-btn" id="drums" onclick="button_highlight('drums')">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/drums.png" alt="drums"/>
                        </button>

                        <!-- Flute -->
                        <button class="button instruments-btn" id="flute" onclick="button_highlight('flute')">
                            <img width="50" height="50" src="https://img.icons8.com/ios/50/flute.png" alt="flute"/>
                        </button>

                        <button class="button upload-button" id="submit_btn">
                            <i class="fa-solid fa-arrow-up">{{ form.submit(id="file_input") }}</i>
                        </button>
                    </div>

</form>

    </div>
    </main>

{% endblock content %}
