    /* base CSS */
    :root {
        --primary-black: #292929;
        --primary-yellow: #e6d62d;
        --accent-yellow: #feed36;
        --accent-white: #f2f2f2;
        --white: #ffffff;
        --black: #000000;
    }


    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    body{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5rem;
        color: var(--primary-yellow);
        background-color: var(--primary-black);

        /*
        display: flex;
        justify-content: center;
        align-items: center; 
        min-height: 100vh; 
        */
        
        margin: 0; /* Remove margin */
    }

    img {
        max-width: 100%;
        margin: 20px 0;
        /* margin-right: -30px; */
    }

    h1, h2{
        margin-bottom: 15px;
        font-weight: bolder;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.3rem;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0.6em 0;
    }
    

    ul{
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    
/* MAIN CSS */

header .container {
    display: flex;
    gap: 10px;
    padding: 40px 0;
}

header .container .logo{
    margin-top: -15px;
    width: 40px;
}

header h3{
    font-size: 1.5rem;
}

main .container {
    background-image: url("../assets/images/bg-form.jpg");
    /* background-color: var(--accent-yellow); */
    /* height: 100%; */
    padding: 10px 0;

    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-blend-mode: color-burn;
    background-color: #22211dcc;
    background-attachment: fixed;

    height: 500px;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

main .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--accent-white);

}

main p{
    font-size: 1.2rem;
    margin-top: -3px;
}

main .button {
    border: none;
    background: var(--accent-yellow);
    color: var(--primary-black);
    font-weight: bold;
}

main .browse-button{
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 50px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;

}

main h4{
    color: var(--accent-white)
}

main .instruments-section {
    margin-top: -20px;
    display: flex;
    gap: 20px;
}

main .instruments-btn{
    font-size: 1.5rem;
    width: 70px;
    height: 70px; 
    border-radius: 100%;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 50%; */
}

main .upload-button{
    font-size: 2rem;
    width: 70px;
    height: 70px; 
    border-radius: 35px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main button:nth-last-child(1) {
    width: 160px;
    border-radius: 35px;
    margin-left: 40px;
}

/* .file{
  display:block;
  position: relative;
  width: 200px;
  height: 200px;
  background: url(http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/device-camera-icon.png) no-repeat center center;
  background-size: cover;
} */

#file_input{
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.highlight_on {
    opacity: 100%;
}

.highlight_off {
    opacity: 50%;
}
/* #file_input{
    opacity: 0;
} */

.new{
    margin-bottom: 30px;
}