    /* base CSS */
    :root {
        --primary-black: #292929;
        --primary-yellow: #e6d62d;
        --accent-yellow: #feed36;
        --accent-white: #f2f2f2;
        --white: #ffffff;
        --black: #000000;
    }


    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5rem;
        color: var(--primary-black);
        background-color: var(--accent-white);

        display: flex;
        justify-content: center; /* Horizontally centers */
        align-items: center; /* Vertically centers */
        min-height: 100vh; /* Makes sure body takes full height */
        margin: 0; /* Remove margin */
    }

    img {
        max-width: 100%;
        margin: 20px 0;
        /* margin-right: -30px; */
    }

    h1, h2{
        margin-bottom: 15px;
        font-weight: bolder;
    }

    ul{
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }


    /* MAIN CSS */
    .container {
        max-width: 400px;
        background-color: var(--white);

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 90px 50px 30px 50px;
        border-radius: 15px;

        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .signup-container {
        padding-top: 70px;
    }

    .container .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .title .logo{
        width: 70px;
        margin-top: 10px;
    }

    .user-login input, .user-signup input {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--primary-black);
    }

    .user-signup input {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .user-login button, .user-signup button{
        margin-top: 30px;
        width: 100%;
        padding: 16px;
        border-radius: 50px;
        border: none;
        background: var(--accent-yellow);
        margin-bottom: 100px;
        font-weight: bold;
    }

    input[type="submit"] {
        margin-top: 30px;
        width: 100%;
        padding: 16px;
        border-radius: 50px;
        border: none;
        background: var(--accent-yellow);
        margin-bottom: 100px;
        font-weight: bold;
    }

    #reduce_margin_bottom {
        margin-bottom: 50px;
    }

    .user-signup button {
        margin-bottom: 50px;
    }

    .user-signup .checkbox-container {
        margin-top: 5px;
        margin-bottom: -15px;
    }

    .user-signup input[type="checkbox"] {
        width: initial;
        margin: 0;
        margin-right: 5px;
    }

/* #creator {
        width: initial;
        margin: 0;
        margin-right: 5px;
    } */

    .signin-link a, .login-link a{
        color: var(--black);
        text-decoration: underline
    }

#width_full{
    width: 100%;
}