    /* base CSS */
    :root {
        --primary-black: #292929;
        --primary-yellow: #e6d62d;
        --accent-yellow: #feed36;
        --accent-white: #f2f2f2;
        --white: #ffffff;
        --black: #000000;
    }


    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    body{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5rem;
        color: var(--primary-yellow);
        background-color: var(--primary-black);
        margin: 0;
    }

    img {
        max-width: 100%;
        margin: 20px 0;
        /* margin-right: -30px; */
    }

    h1, h2{
        margin-bottom: 15px;
        font-weight: bolder;
    }

    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.3rem;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0.6em 0;
    }
    

    ul{
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    
/* MAIN CSS */

header .container {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}
header .container .logo{
    margin-top: -15px;
    width: 40px;
}
header h3{
    font-size: 1.5rem;
}

main .container .about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--accent-white);
}
main .container .about-us i{
    color: var(--accent-yellow);
}
.about-us hr{
    min-width: 1200px;
    display: block;
    margin-bottom: 30px;
}


/* Team Grid Layout */
.team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 10px;
    margin-left: 90px;
}

.team-member {
    background-color: var(--primary-black);
    padding: 20px;
    padding-top: 3px;
    color: var(--accent-white);
    /* text-align: center; */
}

.team-member h3 {
    color: var(--accent-yellow);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;
    margin-left: 60px;
    font-style: italic;
    /* text-decoration: underline; */
}

.team-member p {
    font-size: 1.2rem;
    margin: 0px;
    margin-left: 35px;
    margin-top: 3px;
    
}

.team-member .social-links {
    display: flex;
    margin-left: 35px;
    margin-top: 15px;
    gap: 10px;
    font-style: italic;
    text-decoration: underline;
    color: var(--accent-yellow);
}

.team-member .social-links a img {
    width: 30px;
    height: 30px;
}


/* .team-member:nth-child(1) {
    border-right: 1px solid var(--accent-yellow);
    border-bottom: 1px solid var(--accent-yellow);
}

.team-member:nth-last-child(1) {
    border-left: 1px solid var(--accent-yellow);
    border-top: 1px solid var(--accent-yellow);
} */


.team-member {
    position: relative;
}

.team-member span{
    position: absolute;
    left: 15px;
    top: 30px;
    font-size: 5rem;
    font-weight: 800;
    opacity: 50%;
    color: var(--accent-yellow)
}
