{% extends 'base.html' %}
{% block title %} HarmoniSync
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock head %}
{% block content %}
    <header>
        <div class="container">
            <div class="app-name">
                <div class="logo">
                    <img src="{{ url_for('static', filename='logo-svg-yellow.svg') }}" alt="#">
                </div>
                <div>
                    <h2>HarmoniSync</h2>
                    <p>Join the Beat, <u><i>Sync</i></u> with the World.</p>    
                </div>
            </div>
            <hr>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="about-app">
                <p>Welcome to <u>HarmoniSync</u> — your musical playground! Upload any music sheet, transform it for your favorite instruments, and jam along with interactive features.</p>
                <p>Share your creations and connect with fellow music lovers. Let’s create musical magic together!</p>
            </div>
            {% if current_user.is_authenticated %}
                <div class="buttons">
                <a class="button" href="{{url_for('input_music_files')}}">Upload Music</a>
                </div>
            </div>
            {% else %}
            <div class="buttons">
                <a class="button" href="{{url_for('register')}}">SIGN UP</a>
                <a class="button" href="{{url_for('login')}}">LOG IN</a>
            </div>
            {% endif %}
        </div>
    </main>

    <footer>
        <p>made with <3 by <u><a href="{{url_for('team_intro')}}">Team HarmoniX</a></u> </p>
        {% if current_user.is_authenticated%}
            <a href="{{url_for('logout')}}"><div class="logout-btn">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Logout
        {%endif%}
        </div></a>
    </footer>
{% endblock content %}